* {
  box-sizing: border-box;
}
body {
  background-color: antiquewhite;
}
#contenedorProductos {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(5, 1fr);
}
.producto {
  padding: 12px;
  margin: 12px;
  width: 40%;
  height: fit-content;
  background-color: white;
  box-shadow: gray 7px 7px;
  border-radius: 8px;
  border: 12px black;
}
.producto:hover {
  transform: scale(1.05);
}
